<section>
        <div class="container">
            <div class="row mt-4">
                <a href="viewusers" class="btn btn-success ml-auto">View Users</a>
            </div>
            <div class="row mt-3">
                
                <table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">#</th>
      <th scope="col">Edit</th>
      <th scope="col">Avatar</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.fname}}</td>
      <td>{{this.lname}}</td>
      <td>{{this.email}}</td>
       <td></td>
       <td>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure want to delete {{this.productName}} ?')">delete</a>
        </td>
      <td><img style="width:50px; height:50px;" src="/product_images/{{this._id}}.jpg" alt=""></td>
    </tr>
   
    {{/each}}
   
  </tbody>
</table>
            </div>
        </div>
    </section>